# Default ignored files
/Code/checkinn-api/.idea/.idea.CheckInn/.idea/shelf/
/Code/checkinn-api/.idea/.idea.CheckInn/.idea/workspace.xml
# Rider ignored files
/Code/checkinn-api/.idea/.idea.CheckInn/.idea/contentModel.xml
/Code/checkinn-api/.idea/.idea.CheckInn/.idea/modules.xml
/Code/checkinn-api/.idea/.idea.CheckInn/.idea/projectSettingsUpdater.xml
/Code/checkinn-api/.idea/.idea.CheckInn/.idea/.idea.CheckInn.iml
# Editor-based HTTP Client requests
/Code/checkinn-api/.idea/.idea.CheckInn/.idea/httpRequests/
# Datasource local storage ignored files
/Code/checkinn-api/.idea/.idea.CheckInn/.idea/dataSources/
/Code/checkinn-api/.idea/.idea.CheckInn/.idea/dataSources.local.xml
