.card {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  min-width: 50vw;
  padding: 2rem;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.flexRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
}

@media (min-width: 800px) {
  .card {
    min-width: 30vw;
  }
}

@media (max-width: 500px) {
  .card {
    min-width: 70vw;
  }
}
